/*
================================
  CUSTOM PROPERTIES
================================
*/
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font sizes */
  --fs-700: calc(100rem / 16);
  --fs-600: calc(56rem / 16);
  --fs-500: calc(32rem / 16);
  --fs-400: calc(28rem / 16);
  --fs-300: calc(16rem / 16);
  --fs-200: calc(14rem / 16);

  /* font-family */
  --ff-sans-cond: 'Barlow Condensed', sans-serif;
  --ff-serif: 'Bellefair', serif;

  box-sizing: border-box;
}





/*
================================
  RESETS
================================
*/
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img, svg, picture, video {
  max-inline-size: 100%;
  display: block;
}

input, textarea, select, button {
  font: inherit;
}

body {
  background-color: hsl( var(--clr-dark) );
  min-block-size: 100vb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  line-height: 1.5;
  grid-template-rows: 0fr 1fr;
}





/*
================================
  UTILITIES
================================
*/
/* general */
.flex {
  display: flex;
  gap: var(--gap, 1em);
}

.grid {
  display: grid;
}

.container {
  border: 1px solid red;
}


.active {
  border-block-end: 3px solid hsl( var(--clr-white) );
}

.d-block { display: block }
.hidden { display: none }

/* colors */
.bg-dark { background-color: hsl( var(--clr-dark) ); }
.bg-accent { background-color: hsl( var(--clr-light) ); }
.bg-white { background-color: hsl( var(--clr-white) ); }

.text-dark { color: hsl( var(--clr-dark) ); }
.text-accent { color: hsl( var(--clr-light) ); }
.text-white { color: hsl( var(--clr-white) ); }
.text-white-lighter { color: hsl( var(--clr-white) / .7 ) }

/* Typography */
.fs-700 { font-size: var(--fs-700) }
.fs-600 { font-size: var(--fs-600) }
.fs-500 { font-size: var(--fs-500) }
.fs-400 { font-size: var(--fs-400) }
.fs-300 { font-size: var(--fs-300) }
.fs-200 { font-size: var(--fs-200); }

.fw-700 { font-weight: 700; }
.fw-400 { font-weight: 400; }

.ff-sans-cond { font-family: var(--ff-sans-cond) }
.ff-serif { font-family: var(--ff-serif) }

.letter-spacing-1 { letter-spacing: 2.35px; }
.letter-spacing-2 { letter-spacing: 2.7px; }
.letter-spacing-3 { letter-spacing: 4.75px; }

.uppercase {
  text-transform: uppercase;
}





/*
================================
  COMPONENTS
================================
*/
/* Logo */
.logo {
  margin-inline-start: 3em;
  margin-block: calc(40em / 16) calc(20em / 16);
  margin-inline-end: auto;
  flex: none;
}

@media (max-width: 44.9375em) {
  .logo {
    margin-inline-start: 2em;
    margin-block: calc(15em / 16);
    /* border: 1px solid red; */
  }
}

/* Hamburger */
.nav-btn {
  background-color: transparent;
  border: none;
  display: none;
  width: 27px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.nav-btn:focus-visible {
  outline: 1px dashed white;
  outline-offset: 5px;
}

@media (max-width: 34.9375em) {
  .nav-btn {
    display: block;
    position: relative;
    z-index: 2;
    margin-inline-end: 1em;
  }

  .nav-btn[aria-expanded="false"] {
    background-image: url('assets/shared/icon-hamburger.svg');
  }

  .nav-btn[aria-expanded="true"] {
    background-image: url('assets/shared/icon-close.svg');
  }

  .nav-btn[aria-expanded="true"] + nav .navigation {
    visibility: visible;
    transform: translateX(0);
    transition: transform 300ms;
  }

  .nav-btn[aria-expanded="true"] + nav .navigation li {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Navigation */
.navigation {
  --gap: 2em;
  list-style: none;
  padding-inline: clamp(3.125em, 6vw, 6.25em) clamp(3.75em, 10vw, 7.5em);
  background-color: hsl( var(--clr-white) / .04);
  backdrop-filter: blur(20px);
  text-transform: uppercase;
}

.navigation li {
  padding-block: calc(30em / 16);
}

.navigation span {
  font-weight: 700;
}

@media (max-width: 44.9375em) {
  .navigation {
    --gap: 2em;
    padding-inline: calc(40em / 16);
  }

  .navigation span {
    display: none;
  }
}

@media (max-width: 34.9375em) {
  .navigation {
    --gap: 2em;
    flex-direction: column;
    position: fixed;
    width: 65%;
    top: 0;
    bottom: 0;
    right: 0;
    padding-block-start: 100px;
    transform: translateX(100%);
    will-change: transform;
    transition: transform 125ms;
    z-index: 1;
    visibility: hidden;
  }

  .navigation li {
    padding-block: 0;
    opacity: 0;
    transform: translateX(100%);
    transition-property: transform, opacity;
    transition-duration: 500ms;
    transition-delay: var(--delay, 0ms);
  }

  .navigation li:nth-child(2) {
    --delay: 75ms;
  }

  .navigation li:nth-child(3) {
    --delay: 150ms;
  }

  .navigation li:nth-child(4) {
    --delay: 225ms;
  }

  .navigation .active {
    border: none;
  }

  .navigation span {
    display: inline-block;
  }
}

/* Explore Button */
.explore-btn {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.explore-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  background-color: hsl( var(--clr-white) / .2 );
  will-change: tranform;
  transition: transform 250ms;
}

.explore-btn:hover::after,
.explore-btn:focus::after {
  transform: scale(1.5);
}

.explore-btn:focus {
  outline: none;
}


/* Numbered Title */
.numbered-title {
  width: max-content;
  padding: 1.5em;
}

.numbered-title span {
  display: inline-block;
  margin-inline-end: calc(10em / 16);
  color: hsl( var(--clr-light) / .2);
}

/* Tablist */
.tablist  {
  --gap: 2em;
  width: max-content;
  padding-inline: 1.5em;
  margin-bottom: calc(10em / 16);
}

.tablist .tab-btn {
  outline: none;
  border: none;
  background-color: transparent;
  padding-block: calc(10em / 16);
  border-block-end: 3px solid transparent;
  cursor: pointer;
}

.tablist .tab-btn.active {
  border-block-end: 3px solid hsl( var(--clr-white) );
  color: hsl( var(--clr-white) )
}

.tablist .tab-btn:focus-visible {
  outline: 1px dashed white;
  outline-offset: 5px;
}

.tablist.disc {
  --gap: 1.5em;
}

.tablist .disc-tab-btn {
  width: 10px;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  background-color: hsl( var(--clr-light) / .3 )
}

.tablist .disc-tab-btn.active {
  background-color: hsl( var(--clr-white) );
}

/* Numbered Tablist */
.numbered-tablist {
  width: max-content;
  padding-block: calc(30em / 16);
}

.numbered-tab-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  border: 1px solid hsl( var(--clr-light) / .3);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.numbered-tab-btn.active {
  background: hsl( var(--clr-white) );
  color: hsl( var(--clr-dark) );
}

.numbered-tab-btn:focus-visible {
  outline: 1px solid white;
  outline-offset: 5px;
}

/* Tab Content */
.tab-contents {
  text-align: center;
  width: min(95%, 450px);
  padding: 0 1em 4em;
}

.tab-content > * + * {
  margin-block-end: calc(8em / 16);
}

.tab-contents .stats {
  flex-direction: column;
}

@media (min-width: 35em) {
  .tab-contents .stats {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 45em) {
  .tab-contents {
    text-align: start;
  }

  .tab-contents .stats  {
    justify-content: space-between;
  }
}

/* Tab Image */
.tab-images {
  width: clamp(300em / 16, 50vw, 400em / 16);
  aspect-ratio: 1;
  padding: 1em;
  padding-block-end: 2em;
}

.tech-tab-image {
  overflow: hidden;
}

.tech-tab-image img {
  animation: scale-down 5s ease;
}

@keyframes scale-down {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}





/*
================================
  PAGE SPECIFIC STYLES
================================
*/
/* General */
.header {
  align-items: center;
}

.header::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: hsl( var(--clr-light) / .3 );
  order: -1;
  position: relative;
  right: -50px;
}

.header .logo {
  order: -2;
}

@media (max-width: 45em) {
  .header::after {
    display: none;
  }
}

/* Home */
.home {
  background-image: url('assets/home/background-home-mobile.jpg');
}

.grid-home {
  justify-items: center;
  align-items: center;
}

.intro {
  text-align: center;
  width: min(80%, 300px);
  padding-block: calc(50em / 16) calc(100em / 16);
}

.explore {
  padding-bottom: calc(80em / 16);
}

@media (min-width: 35em) {
  .home {
    background-image: url('assets/home/background-home-tablet.jpg');
  }
}

@media (min-width: 45em) {
  .home {
    background-image: url('assets/home/background-home-desktop.jpg');
  }

  .grid-home {
    grid-template-columns: minmax(2em, 1fr) 3fr 2fr minmax(2em, 1fr);
    grid-template-areas: ". intro explore .";
    align-items: end;
  }

  .intro {
    grid-area: intro;
    justify-self: start;
    text-align: start;
  }

  .explore {
    grid-area: explore;
    justify-self: end;
  }

}

/* Destination */
.destination {
  background-image: url('assets/destination/background-destination-mobile.jpg');
}

.destination .tab-contents .content {
  border-block-end: 1px solid hsl( var(--clr-light) / .3 );
  padding-block-end: calc(30em / 16);
  margin-block-end: calc(30em / 16);
}

.grid-destination {
  align-items: center;
  justify-items: center;
}

[data-item] {
  animation: animate 0.3s;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (min-width: 35em) {
  .destination {
    background-image: url('assets/destination/background-destination-tablet.jpg');
  }

  .grid-destination h1 {
    justify-self: start;
  }
}

@media (min-width: 45em) {
  .destination {
    background-image: url('assets/destination/background-destination-desktop.jpg');
  }

  .grid-destination {
    grid-template-columns: minmax(2em, 1fr) 3fr 2fr minmax(2em, 1fr);
    grid-template-rows: 0fr 0fr 1fr;
    grid-template-areas:
      ". numbered-title numbered-title ."
      ". . tabs ."
      ". image tab-contents .";
    justify-items: start;
    column-gap: calc(20em / 16);
  }

  .grid-destination h1 {
    grid-area: numbered-title;
  }

  .grid-destination .tablist {
    grid-area: tabs;
  }

  .grid-destination .tab-images {
    grid-area: image;
  }

  .grid-destination .tab-contents {
    grid-area: tab-contents;
  }
}

/* Creww */
.crew {
  background-image: url('assets/crew/background-crew-mobile.jpg');
}

.grid-crew {
  align-items: center;
  justify-items: center;
  gap: 20px;
}

@media (min-width: 35em) {
  .crew {
    background-image: url('assets/crew/background-crew-tablet.jpg');
  }

  .grid-crew h1 {
    justify-self: start;
  }

  .grid-crew .tab-contents {
    padding: 0;
  }

  .grid-crew .tablist {
    order: 1;
  }

  .grid-crew .tab-images {
    order: 2;
  }
}

@media (min-width: 45em) {
  .crew {
    background-image: url('assets/crew/background-crew-desktop.jpg');
  }

  .grid-crew {
    grid-template-columns: minmax(2em, 1fr) 3fr 2fr minmax(2em, 1fr);
    grid-template-rows: 0fr 1fr 1fr;
    grid-template-areas:
      ". numbered-title crew ."
      ". tab-contents crew ."
      ". tablist crew .";
    justify-items: start;
    gap: 0;
  }

  .grid-crew .numbered-title {
    grid-area: numbered-title;
    padding-inline: 0;
  }

  .grid-crew .tablist {
    grid-area: tablist;
    padding: 0;
  }

  .grid-crew .tab-contents {
    grid-area: tab-contents;
    align-self: end;
  }

  .grid-crew .tab-images {
    grid-area: crew;
    justify-self: end;
    align-self: end;
    padding: 0;
  }
}

/* Technology */
.technology {
  background-image: url('assets/technology/background-technology-mobile.jpg');
}

.grid-tech {
  justify-items: center;
}

.tab-system {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab-system .tab-contents {
  max-width: 400px;
}

@media (min-width: 35em) {
  .technology {
    background-image: url('assets/technology/background-technology-tablet.jpg');
  }

  .grid-tech > h1 {
    justify-self: start;
  }
}

@media (min-width: 45em) {
  .technology {
    background-image: url('assets/technology/background-technology-desktop.jpg');
  }

  .technology .tab-system {
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: calc(40em / 16);
  }

  .technology .numbered-tablist {
    flex-direction: column;
  }

  .grid-tech {
    grid-template-columns: minmax(2em, 1fr) 3fr 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      ". numbered-title numbered-title"
      ". tab-system tab-images";
  }

  .grid-tech .numbered-title {
    grid-area: numbered-title;
    padding-inline-start: 0;
  }

  .grid-tech .tab-system {
    grid-area: tab-system;
    justify-self: start;
    align-self: center;
  }

  .grid-tech .tab-system .numbered-tablist {
    padding-block: 0;
  }

  .grid-tech .tech-tab-image {
    grid-area: tab-images;
    align-self: center;
    justify-self: end;
    width: 400px;
  }
}


